!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/common/_html_head.haml")).render

	-# 'view_quantity-form' applied where number inputs are needed
	%body#cart_checkout.page_cart-checkout.view_quantity-form

		:plain
			<!-- inject:svg --><!-- endinject -->

		%header#header_common.header_common{"data-scrolled" => "no", "data-cart" => "yes"}
			= Haml::Engine.new(File.read("dev/haml/partials/common/_header_row-1.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/common/_header_row-2.haml")).render

		%main{:role => "main", "data-container" => "width-926"}
			= Haml::Engine.new(File.read("dev/haml/partials/cart/_table_cart.haml")).render

			= Haml::Engine.new(File.read("dev/haml/partials/modals/_cart_remove.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/modals/_cart_age.haml")).render



			%aside#error_alert.error_alert.visible
				.wrap_content

					%h4 There was an error while attempting to add the item to the order.

					%a#error_close.button_close.error_close{:href => "#", :title => "Close Window"}
						%svg.svg_remove
							%use{"xlink:href" => "#remove"}

		= Haml::Engine.new(File.read("dev/haml/partials/cart/_footer_cart-checkout.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/common/_html_scripts.haml")).render