!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/common/_html_head.haml")).render

	%body#csr_display.page_csr-display

		= Haml::Engine.new(File.read("dev/haml/partials/common/_js_svg.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/csr/_header_csr.haml")).render

		-# using modal styes: applied via 'wrap_content' class
		%main.wrap_content{:role => "main", "data-container" => "width-926"}
			= Haml::Engine.new(File.read("dev/haml/partials/csr/_table_display.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/common/_html_footer-scripts.haml")).render