!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_html_head.haml")).render

	-# 'view_quantity-form' applied where number inputs are needed
	%body#csr_cart.page_csr-cart.view_quantity-form

		:plain
			<!-- inject:svg --><!-- endinject -->

		= Haml::Engine.new(File.read("dev/haml/partials/_header_csr.haml")).render

		%main{:role => "main", "data-container" => "width-926"}
			= Haml::Engine.new(File.read("dev/haml/partials/_cart_table.haml")).render

			#cart_empty-message.cart_empty-message
				%h4 Empty Cart

			= Haml::Engine.new(File.read("dev/haml/partials/_modal_cart-remove.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_footer_cart.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/_html_scripts.haml")).render