!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_html_head.haml")).render

	-# this view is for Departments and Sub-Departments
	-# Departments: Hunting & Shooting, Archery, Fishing, Camping, etc.
	-# Sub Departments: Archery > [Bows, Bow Accessories, Arrows & Shafts, etc.] | Fishing > [Rods, Reels, Rod & Reel Combos, etc.]

	-# ID is either "departments" or "subdepartments"
	-# "page_" class is either "prod-dept" or "prod-subdept"

	-# only if parent "prod-dept": ommit the "#button_back" from _header_row-1.haml

	-# uses 'grid-4' layout

	%body#departments.page_prod-dept.view_grid

		:plain
			<!-- inject:svg --><!-- endinject -->

		%header#header_common.header_common{"data-scrolled" => "no", "data-cart" => "yes"}
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-1.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-2.haml")).render

		%main{:role => "main", "data-container" => "width-926"}
			= Haml::Engine.new(File.read("dev/haml/partials/_main_grid-4.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_main_loader.haml")).render

			-# TEMP: will be housed elsewhere (ideally AJAX loaded on click?)
			= Haml::Engine.new(File.read("dev/haml/partials/_modal_phone.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_modal_timeout-cart.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_modal_timeout-empty.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render