!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/common/_html_head.haml")).render

	-# this view is for Product Display Page

	-# 'view_quantity-form' applied where number inputs are needed
	%body#pdp.page_prod-disp.view_quantity-form

		= Haml::Engine.new(File.read("dev/haml/partials/common/_js_svg.haml")).render

		%header#header_common.header_common{"data-scrolled" => "no", "data-cart" => "yes"}
			= Haml::Engine.new(File.read("dev/haml/partials/common/_header_row-1.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/common/_header_row-2.haml")).render

		%main{:role => "main", "data-container" => "width-926"}

			%section#pdp_main.pdp_main

				%article#pdp_intro.pdp_intro

					.product_headlines
						%h2.product_id 307901
						%h1.product_title Columbia Women’s Camp Henry Long Sleeve Shirt with Far Too Many Lines of Text

					= Haml::Engine.new(File.read("dev/haml/partials/products/_pdp_reviews.haml")).render

				-# only output #pdp_gallery if we have at least 1 product image
				%article#pdp_gallery.pdp_gallery

					= Haml::Engine.new(File.read("dev/haml/partials/products/_pdp_gallery.haml")).render

			%section#pdp_description.pdp_description

				%article.pdp_content

					%p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

					%img{:src => "assets/img/bg_header.jpg"}

					%ul
						%li
							Quis autem vel eum iure reprehenderit qui.
							%ul
								%li Quasi architecto beatae vitae dicta.
								%li Dolores eos qui ratione.
						%li
							In ea voluptate velit esse quam nihil molestiae consequatur.
							%ol
								%li Quasi architecto beatae vitae dicta.
								%li Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
								%li Dolores eos qui ratione.
						%li Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

					.pdp_warning
						%h5 Product Warnings and Restrictions
						%p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

			%section#pdp_information.pdp_information

				-# if either Details or Specs is not required, simply omit the <article>
				%article#pdp_details.pdp_details.pdp_content

					%h3 Product Details

					%p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

					%ol
						%li
							Quis autem vel eum iure reprehenderit qui.
							%ol
								%li Quasi architecto beatae vitae dicta.
								%li Dolores eos qui ratione.
						%li
							In ea voluptate velit esse quam nihil molestiae consequatur.
							%ul
								%li Quasi architecto beatae vitae dicta.
								%li Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
								%li Dolores eos qui ratione.
						%li Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

				%article#pdp_specs.pdp_specs.pdp_content

					%h3 Product Specs

					%ul.product_specs
						%li
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.
							%ul
								%li Aenean lacinia bibendum nulla sed consectetur.
								%li Donec id elit non mi porta gravida at eget metus.
								%li Duis mollis, est non commodo luctus.
						%li Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
						%li
							Sed ut perspiciatis.
							%ol
								%li Aenean lacinia bibendum nulla sed consectetur.
								%li Donec id elit non mi porta gravida at eget metus.
								%li Duis mollis, est non commodo luctus.
						%li Sit voluptatem accusantium doloremque laudantium, totam.

		= Haml::Engine.new(File.read("dev/haml/partials/products/_footer_cart-pdp.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/common/_html_footer-scripts.haml")).render