!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_html_head.haml")).render

	-# ID always prefixed with "department_" ... suffix taken from current Department view (ex: fishing, camping, footwear, etc.)
	%body#department_hunting.page_product-departments

		:plain
			<!-- inject:svg --><!-- endinject -->

		%header
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-1.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-2.haml")).render

			-# testing purposes only!
			= Haml::Engine.new(File.read("dev/haml/partials/_temp_modal-links.haml")).render

		%main{:role => "main", "data-container" => "width-926"}
			= Haml::Engine.new(File.read("dev/haml/partials/_main_grid-4.haml")).render

			-# temporary... will be housed elsewhere (ideally AJAX loaded on click)
			= Haml::Engine.new(File.read("dev/haml/partials/_modal_phone.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_modal_timeout-cart.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_modal_timeout-empty.haml")).render

		%script{:src => "assets/js/scripts.js"}