!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_html_head.haml")).render

	-# this view is for Individual Product listing within a selected Category

	-# uses 'grid-5' layout

	%body#individual.page_prod-indv.view_grid

		:plain
			<!-- inject:svg --><!-- endinject -->

		%header
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-1.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-2.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_header_filters.haml")).render

		%main{:role => "main", "data-container" => "width-926"}
			= Haml::Engine.new(File.read("dev/haml/partials/_main_grid-5.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render