!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_html_head.haml")).render

	-# this view is for Categories within a selected Department or Sub-Department

	-# uses 'grid-4' layout

	%body#categories.page_prod-cat.view_grid

		:plain
			<!-- inject:svg --><!-- endinject -->

		%header#header_common.header_common{"data-scrolled" => "no", "data-cart" => "yes"}
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-1.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_header_row-2.haml")).render

		%main{:role => "main", "data-container" => "width-926"}
			= Haml::Engine.new(File.read("dev/haml/partials/_main_grid-4.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_main_loader.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_scripts.haml")).render